$text-color: #648643;
$background-color: #262626;
$white: #ffffff;

.list-page {
    background-color: $background-color;
    min-height: 100vh;
    padding: 60px 0;

    &__title {
        color: $text-color;
        text-align: center;
        margin-bottom: 50px !important;
        font-weight: 700;
        text-transform: uppercase;
        font-size: clamp(2rem, 10vw, 6rem);
    }

    .list-loader {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $background-color;
    }
}

.cemetery-card {
    background-color: $background-color;
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 98%;
    //height: 800px;

    //&:hover {
        //transform: translateY(-8px);
        //box-shadow: 0 10px 30px rgba(0,0,0,0.5);
    //}

    &__image {
        height: 100%;
        object-fit: cover;
    }

    .cemetery-card__content {
        background-color: $text-color; // Białe tło etykiety zgodnie ze wzorem
        text-align: center;
        padding: 15px !important;
    }

    .cemetery-card__name {
        color: $background-color;
        font-weight: 600;
        margin-bottom: 4px ;
    }

    .cemetery-card__location {
        color: $background-color;
    }
}
