.app
{
    background: $background-color;
    color: $secondary-color;
    height: 100vh;
    font-family: 'Science Gothic';

    @include flex-center;

    .home__button
    {
        color: 'blue';
        width: 'fit-content';
    }
}
