.home {
  background-color: $background-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;

  .home__title {
    color: $text-color;
    font-weight: 300;
    font-size: clamp(3rem, 10vw, 8rem);
    letter-spacing: 0.1em;
    line-height: 1.1;
    margin-bottom: clamp(1rem, 10vw, 4rem);
    text-transform: uppercase;
  }
}

.services {
  background-color: $background-color;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;

  .services__card {
    width: 98%;
    align-items: center;
    background-color: transparent !important;
    border-radius: 12px !important;
    

  }
}

.cemetery-page {
    background-color: $background-color;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    overflow: hidden;
    gap: 30px;

    &__title {
    color: $text-color;
    width: 100%;
    font-weight: 700;
    font-size: clamp(1.5rem, 8vw, 4rem);
    text-transform: uppercase;
    overflow-wrap: normal;
    text-align: center;
    }

    &__actions {
        display: flex;
        gap: 40px;
        width: 100%;
        max-width: 800px;
        justify-content: center;

        @media (max-width: 600px) {
            flex-direction: column;
            align-items: center;
        }
    }

}

.new-cemetery-page {
    background-color: $background-color;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;

    .new-cemetery-page__title {
        color: $text-color;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 50px;
    }

    

    .new-cemetery-page__textfield {
        width: 100%;
        .MuiInputBase-input {
            color: $text-color;
        }
        label {
            color: $text-color;
        }


        .MuiInputBase-root {
            color: $text-color; // Kolor tekstu
        }

        .MuiOutlinedInput-notchedOutline {
            border-color: $text-color; // Kolor obramowania
        }

    }

    .new-cemetery-page__submit {
            background-color: $text-color;
            color: $background-color;
            font-weight: 800;
            font-size: 1.1rem;
            padding: 12px;
            border-radius: 12px;
            margin-top: 20px;
            transition: all 0.3s ease;

            &:hover {
                background-color: lighten($text-color, 10%);
                transform: translateY(-2px);
            }
        }
}

.mapComponent {
  width: 100vw;
  height: 100vh;
}